{% extends "layout.html" %}

{% block title %}
Luo artikkeli
{% endblock %}

{% block body %}

{% with messages = get_flashed_messages() %}
{% if messages %}
  <ul>
    {% for message in messages %}
      <li style="color: black;">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
{% endwith %}

<form action="/luo-viite2" id="content" method="post">
<p>
*Author:
<input type="text" id="name" name="author" /> 
</p>
<p>
*Title:
<input type="text" id="name" name="title" /> 
</p>
<p>
*Journal:
<input type="text" id="name" name="journal" /> 
</p> 
*Year:
<input type="text" id="name" name="year" /> 
</p>
<input type="hidden" name="type" value="article">
<input type="submit" value="Lisää">
</form>

{% endblock %}