{% extends "layout.html" %}

{% block title %}
Luo artikkeli
{% endblock %}

{% block body %}
<p>
  <a href="/">Palaa kotisivulle</a>
</p>

{% with messages = get_flashed_messages() %}
{% if messages %}
  <ul>
    {% for message in messages %}
      <li style="color: black;">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
{% endwith %}


<form action="/luo-viite2" id="content" method="post">
<p>
<details>
  <summary>Key:</summary>
  Vapaaehtoinen uniikki avain lähteelle, enintään 500 merkkiä pitkä.
</details>
<input type="text" id="name" name="key" maxlength="500"/>
</p>
<p>
<details>
  <summary>*Author:</summary>
  Pakollinen kenttä: Teoksen kirjoittaja, enintään 500 merkkiä pitkä.
</details>
<input type="text" id="name" name="author" maxlength="500" />
</p>
<p>
<details>
  <summary>*Title:</summary>
  Pakollinen kenttä: Teoksen nimi, enintään 500 merkkiä pitkä.
</details>
<input type="text" id="name" name="title" maxlength="500" />
</p>
<p>
<details>
  <summary>*Journal:</summary>
  Pakollinen kenttä: Teoksen julkaisulehti, enintään 500 merkkiä pitkä.
</details>
<input type="text" id="name" name="journal" maxlength="500" />
</p>
<details>
  <summary>*Year:</summary>
  Pakollinen kenttä: Teoksen julkaisuvuosi, ei voi olla tulevaisuudessa tai vanhempi kuin 0 aaj.
</details>
<input type="number" id="name" name="year" min="0" />
</p>
<p>
Optional fields:
</p>
<p>
<details>
  <summary>Volume:</summary>
  Teoksen sarjan nide/osa, enintään 500 merkkiä pitkä.
</details>
<input type="text" id="name" name="volume" maxlength="500" />
</p>
<p>
<details>
  <summary>Number:</summary>
  Teoksen sarjan nidoksen/osan julkaisu, enintään 500 merkkiä pitkä.
</details>
<input type="text" id="name" name="number" maxlength="500" />
</p>
<p>
<details>
  <summary>Pages:</summary>
  Teoksen lähteenä käytetyt sivunumerot, sivunumerot eivät voi olla negatiivisia.
</details>
<input type="number" id="name" name="firstpage" min="0" />
-
<input type="number" id="name" name="lastpage" min="0" />
</p>
<p>
<details>
  <summary>Month:</summary>
  Teoksen julkaisukuukausi, enintään 500 merkkiä pitkä.
</details>
<input type="month" id="name" name="month" />
</p>
<p>
<details>
  <summary>DOI:</summary>
  Teoksen DOI-tunniste.
</details>
<input type="text" id="name" name="doi" />
</p>
<p>
<details>
  <summary>Note:</summary>
  Merkintä/huomio teoksesta, enintään 500 merkkiä pitkä.
</details>
<input type="text" id="name" name="note" maxlength="500"/>
</p>
<input type="hidden" name="type" value="article">
<input type="submit" value="Lisää">
</form>

{% endblock %}
