{% extends "layout.html" %}

{% block title %}
Bibtex lähteet
{% endblock %}

{% block body %}

<div id="content">
{% for cite in cites %}
{% set last_name = cite.author.split()[-1] %}
{% set citation_key = last_name ~ cite.year %}
{% if cite.type == "article" %}
<hr>
@article{{ "{" ~ citation_key ~ ""}},
    <br>
    &nbsp; &nbsp;author = "{{cite.author}}",
    <br>
    &nbsp; &nbsp;title = "{{cite.title}}",
    <br>
    &nbsp; &nbsp;journal = "{{cite.journal}}",
    <br>
    &nbsp; &nbsp;year = "{{cite.year}}"
    <br>
}
<br>
<br>
{% endif %}

{% if cite.type == "book" %}
<hr>
@book{{ "{" ~ citation_key ~ ""}},
    <br>
    &nbsp; &nbsp;author = "{{cite.author}}",
    <br>
    &nbsp; &nbsp;title = "{{cite.title}}",
    <br>
    &nbsp; &nbsp;publisher = "{{cite.publisher}}",
    <br>
    &nbsp; &nbsp;year = "{{cite.year}}"
    <br>
}
<br>
<br>
{% endif %}

{% if cite.type == "inproceedings" %}
<hr>
@inproceedings{{ "{" ~ citation_key ~ ""}},
    <br>
    &nbsp; &nbsp;author = "{{cite.author}}",
    <br>
    &nbsp; &nbsp;title = "{{cite.title}}",
    <br>
    &nbsp; &nbsp;booktitle = "{{cite.booktitle}}",
    <br>
    &nbsp; &nbsp;year = "{{cite.year}}"
    <br>
}
<br>
<br>
<hr>
{% endif %}

{% endfor %}
</div>
<br>
<a href="/download_bibtex" download>
    <button>Lataa BibTeX</button>
</a>
<br>
<button class="copy-button" onclick="copyText()">Kopioi</button>
<br>
<script>
    function copyText() {
        const contentDiv = document.getElementById("content");
        const range = document.createRange();
        range.selectNodeContents(contentDiv);
        window.getSelection().removeAllRanges();
        window.getSelection().addRange(range);
        try {
            const successful = document.execCommand("copy");
            if (successful) {
                alert("Kopioitu leikepöydälle");
            } else {
                alert("Kopiointi ei onnistunut.");
            }
        } catch (err) {
            alert("Kopiointi ei onnistunut");
        }
        window.getSelection().removeAllRanges();
    }
</script>

{% endblock %}

