{% extends "layout.html" %}

{% block title %}
Bibtex lähteet
{% endblock %}

{% block body %}

<div id="content">
{% for cite in cites %}
{% if cite.key %}
{% set citation_key = cite.key %}
{% else %}
{% set last_name = cite.author.split()[-1] %}
{% set citation_key = last_name ~ cite.year %}
{% endif %}

{% if cite.type == "article" %}
<hr>
@article{{ "{" ~ citation_key ~ ""}},
    <br>
    &nbsp; &nbsp;author = "{{cite.author}}",
    <br>
    &nbsp; &nbsp;title = "{{cite.title}}",
    <br>
    &nbsp; &nbsp;journal = "{{cite.journal}}",
    <br>
    &nbsp; &nbsp;year = "{{cite.year}}",
    <br>
    {% if cite.volumenumber %}
    &nbsp; &nbsp;volume = "{{cite.volumenumber}}",
    <br>
    {% endif %}
    {% if cite.pages %}
    &nbsp; &nbsp;pages = "{{cite.pages}}",
    <br>
    {% endif %}
    {% if cite.month %}
    &nbsp; &nbsp;month = "{{cite.month.split("-")[-1]}}",
    <br>
    {% endif %}
    {% if cite.doi %}
    &nbsp; &nbsp;doi = "{{cite.doi}}",
    <br>
    {% endif %}
    {% if cite.note %}
    &nbsp; &nbsp;note = "{{cite.note}}"
    <br>
    {% endif %}
}
<br>
<br>
{% endif %}

{% if cite.type == "book" %}
<hr>
@book{{ "{" ~ citation_key ~ ""}},
    <br>
    &nbsp; &nbsp;author = "{{cite.author}}",
    <br>
    &nbsp; &nbsp;title = "{{cite.title}}",
    <br>
    &nbsp; &nbsp;publisher = "{{cite.publisher}}",
    <br>
    &nbsp; &nbsp;year = "{{cite.year}}",
    <br>
    {% if cite.volumenumber %}
    &nbsp; &nbsp;volume = "{{cite.volumenumber}}",
    <br>
    {% endif %}
    {% if cite.series %}
    &nbsp; &nbsp;series = "{{cite.series}}",
    <br>
    {% endif %}
    {% if cite.address %}
    &nbsp; &nbsp;address = "{{cite.address}}",
    <br>
    {% endif %}
    {% if cite.edition %}
    &nbsp; &nbsp;edition = "{{cite.edition}}",
    <br>
    {% endif %}
    {% if cite.month %}
    &nbsp; &nbsp;month = "{{cite.month.split("-")[-1]}}",
    <br>
    {% endif %}
    {% if cite.note %}
    &nbsp; &nbsp;note = "{{cite.note}}"
    <br>
    {% endif %}
}
<br>
<br>
{% endif %}

{% if cite.type == "inproceedings" %}
<hr>
@inproceedings{{ "{" ~ citation_key ~ ""}},
    <br>
    &nbsp; &nbsp;author = "{{cite.author}}",
    <br>
    &nbsp; &nbsp;title = "{{cite.title}}",
    <br>
    &nbsp; &nbsp;booktitle = "{{cite.booktitle}}",
    <br>
    &nbsp; &nbsp;year = "{{cite.year}}",
    <br>
    {% if cite.editor %}
    &nbsp; &nbsp;editor = "{{cite.editor}}",
    <br>
    {% endif %}
    {% if cite.volumenumber %}
    &nbsp; &nbsp;volume = "{{cite.volumenumber}}",
    <br>
    {% endif %}
    {% if cite.series %}
    &nbsp; &nbsp;series = "{{cite.series}}",
    <br>
    {% endif %}
    {% if cite.pages %}
    &nbsp; &nbsp;pages = "{{cite.pages}}",
    <br>
    {% endif %}
    {% if cite.address %}
    &nbsp; &nbsp;address = "{{cite.address}}",
    <br>
    {% endif %}
    {% if cite.month %}
    &nbsp; &nbsp;month = "{{cite.month.split("-")[-1]}}",
    <br>
    {% endif %}
    {% if cite.organization %}
    &nbsp; &nbsp;organization = "{{cite.organization}}",
    <br>
    {% endif %}
    {% if cite.publisher %}
    &nbsp; &nbsp;publisher = "{{cite.publisher}}",
    <br>
    {% endif %}
    {% if cite.note %}
    &nbsp; &nbsp;note = "{{cite.note}}",
    <br>
    {% endif %}
}
<br>
<br>
<hr>
{% endif %}

{% endfor %}
</div>
<br>
<a href="/download_bibtex" download>
    <button>Lataa BibTeX</button>
</a>
<br>
<button class="copy-button" onclick="copyText()">Kopioi</button>
<br>
<script>
    function copyText() {
        const contentDiv = document.getElementById("content");
        const range = document.createRange();
        range.selectNodeContents(contentDiv);
        window.getSelection().removeAllRanges();
        window.getSelection().addRange(range);
        try {
            const successful = document.execCommand("copy");
            if (successful) {
                alert("Kopioitu leikepöydälle");
            } else {
                alert("Kopiointi ei onnistunut.");
            }
        } catch (err) {
            alert("Kopiointi ei onnistunut");
        }
        window.getSelection().removeAllRanges();
    }
</script>

{% endblock %}
