{% extends "layout.html" %}

{% block title %}
Luo kirja
{% endblock %}

{% block body %}
<div style="background-color: white; padding: 10px; border-radius: 1em; width: 140px; text-align: center; font-size: 20px;">
  <a href="/">Palaa kotisivulle</a>
</div>

<style>
  summary {
  list-style-type: '';
}
</style>

{% with messages = get_flashed_messages() %}
{% if messages %}
<div style="background-color: white;">
  <ul style="list-style-type:none;">
    {% for message in messages %}
      <li style="color: black;">{{ message }}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}
{% endwith %}

<br>
<div style="background-color: white; padding: 10px; border-radius: 1em; width: 700px; margin: auto; text-align: center; font-size: 18px;">
  Lisätietoa kentistä painamalla otsikoita
<form action="/luo-viite2" id="content" method="post">
<p>
<details>
  <summary>Key:</summary>
  Vapaaehtoinen uniikki avain lähteelle, enintään 500 merkkiä pitkä.
</details>
<input type="text" id="name" name="key" maxlength="500"/>
</p>
<p>
<details>
  <summary>*Author:</summary>
  Pakollinen kenttä: Teoksen kirjoittaja, enintään 500 merkkiä pitkä.
</details>
<input type="text" id="name" name="author" maxlength="500" />
</p>
<p>
<details>
  <summary>*Title:</summary>
  Pakollinen kenttä: Teoksen nimi, enintään 500 merkkiä pitkä.
</details>
<input type="text" id="name" name="title" maxlength="500" />
</p>
<p>
<details>
  <summary>*Publisher:</summary>
  Pakollinen kenttä: Teoksen julkaisija, enintään 500 merkkiä pitkä.
</details>
<input type="text" id="name" name="publisher" maxlength="500" />
</p>
<details>
  <summary>*Year:</summary>
  Pakollinen kenttä: Teoksen julkaisuvuosi, ei voi olla tulevaisuudessa tai vanhempi kuin 0 aaj.
</details>
<input type="number" id="name" name="year" min="0" />
</p>
<p>
Optional fields:
</p>
<p>
<details>
  <summary>Volume:</summary>
  Teoksen sarjan nide/osa, enintään 500 merkkiä pitkä.
</details>
<input type="text" id="name" name="volume" maxlength="500" />
</p>
<p>
<details>
  <summary>Number:</summary>
  Teoksen sarjan nidoksen/osan julkaisu, enintään 500 merkkiä pitkä.
</details>
<input type="text" id="name" name="number" maxlength="500" />
</p>
<p>
<details>
  <summary>Series:</summary>
  Teoksen kirjasarja, enintään 500 merkkiä pitkä.
</details>
<input type="text" id="name" name="series" maxlength="500" />
</p>
<p>
<details>
  <summary>Address:</summary>
  Teoksen julkaisijan osoite, enintään 500 merkkiä pitkä.
</details>
<input type="text" id="name" name="address" maxlength="500" />
</p>
<p>
<details>
  <summary>Edition:</summary>
  Teoksen painosnumero, enintään 500 merkkiä pitkä.
</details>
<input type="text" id="name" name="edition" maxlength="500" />
</p>
<p>
<details>
  <summary>Month:</summary>
  Teoksen julkaisukuukausi.
</details>
<input type="month" id="name" name="month" />
</p>
<p>
<details>
  <summary>Note:</summary>
  Merkintä/huomio teoksesta, enintään 500 merkkiä pitkä.
</details>
<input type="text" id="name" name="note" maxlength="500" />
</p>
<input type="hidden" name="type" value="book">
<input type="submit" value="Lisää">
</form>
</div>
{% endblock %}