{% extends "layout.html" %}


{% block title %}
  BibTex app
{% endblock %}


{% block body %}

<h2>
  <div style="background-color: white; padding: 10px; border-radius: 1em; width: 550px; margin:auto; text-align: center; font-size: 100px;">
    BibTex app
  </div>
</h2>
<h3>
  <div style="background-color: white; padding: 10px; border-radius: 1em; width: 320px; margin:auto; text-align: center; font-size: 50px;">
    <a href="/uusi-viite">Luo uusi viite</a>
  </div>
<br>
  <div style="background-color: white; padding: 10px; border-radius: 1em; width: 260px; margin:auto; text-align: center; font-size: 50px;">
    <a href="/lisatyt">Lista lisätyistä lähteistä</a>
  </div>
</h3>

{% endblock %}