{% extends "layout.html" %}

{% block title %}
Luo inproceedings
{% endblock %}

{% block body %}

<form action="/luo-viite2" id="content" method="post">
<p>
Author:
<input type="text" id="name" name="author" /> 
</p>
<p>
Title:
<input type="text" id="name" name="title" /> 
</p>
<p>
Book title:
<input type="text" id="name" name="booktitle" /> 
</p> 
Year:
<input type="text" id="name" name="year" /> 
</p> 
<input type="hidden" name="type" value="inproceedings">
<input type="submit" value="Lisää">
</form>

{% endblock %}