{% extends "layout.html" %}

{% block title %}
Luo inproceedings
{% endblock %}

{% block body %}

{% with messages = get_flashed_messages() %}
{% if messages %}
  <ul>
    {% for message in messages %}
      <li style="color: black;">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
{% endwith %}


<form action="/luo-viite2" id="content" method="post">
<p>
Key:
<input type="text" id="name" name="key" maxlength="500"/>
</p>
<p>
*Author:
<input type="text" id="name" name="author" maxlength="500" /> 
</p>
<p>
*Title:
<input type="text" id="name" name="title" maxlength="500" /> 
</p>
<p>
*Book title:
<input type="text" id="name" name="booktitle" maxlength="500" /> 
</p> 
*Year:
<input type="number" id="name" name="year" min="0" /> 
</p>
<p>
Optional fields:
</p>
<p>
Editor:
<input type="text" id="name" name="editor" maxlength="500" />
</p>
<p>
Volume:
<input type="text" id="name" name="volume" maxlength="500" />
</p>
<p>
Number:
<input type="text" id="name" name="number" maxlength="500" />
</p>
<p>
Series:
<input type="text" id="name" name="series" maxlength="500" />
</p>
<p>
Pages:
<input type="number" id="name" name="firstpage" min="0" />
-
<input type="number" id="name" name="lastpage" min="0" />
</p>
</p>
<p>
Address:
<input type="text" id="name" name="address" maxlength="500" />
</p>
<p>
Month:
<input type="month" id="name" name="month" />
</p>
<p>
Organization:
<input type="text" id="name" name="organization" maxlength="500" />
</p>
<p>
Publisher:
<input type="text" id="name" name="publisher" maxlength="500"/>
</p>
<p>
Note:
<input type="text" id="name" name="note" maxlength="500" />
</p>
<input type="hidden" name="type" value="inproceedings">
<input type="submit" value="Lisää">
</form>

{% endblock %}