{% extends "layout.html" %}

{% block title %}
Lisätyt lähteet
{% endblock %}

{% block body %}
<div style="background-color: white; padding: 10px; border-radius: 1em; width: 140px; text-align: center; font-size: 20px;">
    <a href="/">Palaa kotisivulle</a>
  </div>
<br>  
<div style="background-color: white; padding: 10px; width: 270px; text-align: center; font-size: 20px;">
    Lisätyt lähteet <a href="/bibtex">Bibtex muodossa</a>
</div>

<br>
<div style="background-color: white; padding: 10px; width: auto; text-align: left; font-size: 20px;">
<hr>
{% for cite in cites %}
{% if cite.key %}
{% set citation_key = cite.key %}
{% endif %}

Tyyppi:
{{cite.type}}
<br>
Avain:
{{citation_key}}
<br>
Tekijä:
{{cite.author}}
<br>
Otsikko:
{{cite.title}}
<br>
{% if cite.publisher %}
Julkaisija:
{{cite.publisher}}
<br>
{% endif %}
{% if cite.journal %}
Aikakausijulkaisu:
{{cite.journal}}
<br>
{% endif %}
{% if cite.booktitle %}
Kirjan otsikko:
{{cite.booktitle}}
<br>
{% endif %}
Vuosi:
{{cite.year}}
<br>
{% if cite.volume %}
Volyymi:
{{cite.volume}}
<br>
{% endif %}
{% if cite.number %}
Numero:
{{cite.number}}
<br>
{% endif %}
{% if cite.series %}
Sarja:
{{cite.series}}
<br>
{% endif %}
{% if cite.address %}
Osoite:
{{cite.address}}
<br>
{% endif %}
{% if cite.edition %}
Painos:
{{cite.edition}}
<br>
{% endif %}
{% if cite.organization %}
Organisaatio:
{{cite.organization}}
<br>
{% endif %}
{% if cite.pages %}
Sivut:
{{cite.pages}}
<br>
{% endif %}
{% if cite.month %}
Kuukausi:
{{cite.month.split("-")[-1]}}
<br>
{% endif %}
{% if cite.doi %}
DOI:
{{cite.doi}}
<br>
{% endif %}
{% if cite.note %}
Merkintä:
{{cite.note}}
<br>
{% endif %}

<a href="{{ url_for('edit_citation', viite_id=cite.id) }}">
    <button name="button-{{ loop.index }}" type="button">Muokkaa viitettä </button>
</a>
<form action=/poista-viite method="POST">
    <input type="submit" value="Poista viite">
    <input type="hidden" name="id" value="{{ cite.id }}">
</form>
<hr>
{% endfor %}

</div>
{% endblock %}