
{% block title %}
Lisätyt lähteet <a href="/bibtex">Bibtex muodossa</a>
{% endblock %}

{% block body %}
<hr>
{% for cite in cites %}
Tyyppi:
{{cite.type}}
<br>
Tekijä:
{{cite.author}}
<br>
Julkaisija:
{{cite.publisher}}
<br>
Vuosi:
{{cite.year}}
<br>
Otsikko:
{{cite.title}}
<br>
Aikakausijulkaisu:
{{cite.journal}}
<br>
Kirjan otsikko:
{{cite.booktitle}}
<br>

<a href="{{ url_for('edit_citation', viite_id=cite.id) }}">
    <button name="button-{{ loop.index }}" type="button">Muokkaa viitettä </button>
</a>
<for action=/remove-citation method="POST">
    <input type="submit" value="Poista viite">
    <input type="hidden" name="id" value="{{ cite.id }}">
</form>
<hr>
{% endfor %}


{% endblock %}