
{% block title %}
Lisätyt lähteet <a href="/bibtex">Bibtex muodossa</a>
{% endblock %}

{% block body %}
<hr>
{% for cite in cites %}
Tyyppi:
{{cite.type}}
<br>
Tekijä:
{{cite.author}}
<br>
Julkaisija:
{{cite.publisher}}
<br>
Vuosi:
{{cite.year}}
<br>
Otsikko:
{{cite.title}}
<br>
Aikakausijulkaisu:
{{cite.journal}}
<br>
Kirjan otsikko:
{{cite.booktitle}}
<br>

<a href="{{ url_for('muokkaa', viite_id=viite_id) }}">
    <button name="button-{{ loop.index }}" type="button">Muokkaa viitettä </button>
</a>
<hr>
{% endfor %}


{% endblock %}