{% extends "layout.html" %}

{% block title %}
Muokkaa viitettä
{% endblock %}

{% block body %}
<p>
    <a href="/">Palaa kotisivulle</a>
</p>

<h2>Muokkaa viitettä</h2>

<form action="{{ url_for('edit_citation', viite_id=cite.id) }}" method="post">
    <input type="hidden" name="id" value="{{ cite.id }}">
    Tekijä: <input type="text" name="author" value="{{ cite.author }}"><br>
    Julkaisija: <input type="text" name="publisher" value="{{ cite.publisher }}"><br>
    Vuosi: <input type="text" name="year" value="{{ cite.year }}"><br>
    Otsikko: <input type="text" name="title" value="{{ cite.title }}"><br>
    Aikakausijulkaisu: <input type="text" name="journal" value="{{ cite.journal }}"><br>
    Kirjan otsikko: <input type="text" name="booktitle" value="{{ cite.booktitle }}"><br>
    <input type="submit" value="Tallenna muutokset">

</form>




{% endblock %}
