{% extends "layout.html" %}

{% block title %}
Luo uusi viite
{% endblock %}

{% block body %}

<h2>Luo uusi viite</h2>

<form action="/luo-viite" method="post">
  <label for="content">Viite:</label>
  <label for="cite-select">Valitse viite</label>
  <select name="cite" id="cite-select">
    <option value="">--Valitse viite--
    </option>
    <option value="book">Book</option>
    <option value="article">Article</option>
    <option value="inproceedings">Inproceedings</option>
  </select>
  <br>
  <button type="submit">
    Valitse
  </button>
</form>

{% endblock %}