{% extends "layout.html" %}

{% block title %}
Luo uusi viite
{% endblock %}

{% block body %}
<p>
  <a href="/">Palaa kotisivulle</a>
</p>

<h2>Luo uusi viite</h2>

{% with messages = get_flashed_messages() %}
{% if messages %}
  <ul>
    {% for message in messages %}
      <li style="color: black;">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
{% endwith %}

<form action="/luo-viite" method="post">
  <label for="content">Viite:</label>
  <label for="cite-select">Valitse viite</label>
  <select name="cite" id="cite-select">
    <option value="valitseviite">--Valitse viite--
    </option>
    <option value="book">Book</option>
    <option value="article">Article</option>
    <option value="inproceedings">Inproceedings</option>
  </select>
  <br>
  <button type="submit">
    Valitse
  </button>
</form>

{% endblock %}