body {
    margin: 25px 100px 50px 25px;
    background-color: ivory;
    font-size: large;
}

.header {
    background-color: #478c5c;
    color: ivory;
    padding: 20px;
    margin: 25px 100xp 50px 25px;
    border-radius: 1em;
}

input[type=submit] {
    background-color: #478c5c;
    color: ivory;
    padding: 8px;
    border-radius: 1.5em;
    font-size: medium;
    cursor: pointer;
}

h2 {
    background-color: #478c5c;
    color: ivory;
    padding: 10px;
    border-radius: 1em;
    font-size: large;
}

hr {
    color: #1a4314;
}

.nametype {
    background-color: #b2d2a4;
    color: black;
    padding: 10px;
    margin-bottom: 5px;
}

.greeting {
    background-color: #478c5c;
    color: ivory;
    padding: 10px;
    border-radius: 1em;
    font-size: large;
    float: left;
    margin-right: 20px;
    margin-bottom: 5px;
}

.profile {
    background-color: #d0e1c8;
    color: black;
    padding: 10px;
    margin-bottom: 5px;
}